*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
min-height:100vh;
background:linear-gradient(135deg,#0ea5e9,pink);
display:flex;
flex-direction:column;
align-items:center;
}

h1{
margin:20px;
color:white;
}

/* grid */
.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
width:90%;
flex-grow:1;
}

/* rreshti A B C D */
.answers{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
width:90%;
margin-top:10px;
}

/* butonat */
button{
height:90px;
font-size:22px;
border:none;
border-radius:12px;
background:white;
cursor:pointer;
font-weight:bold;
}

/* teksti A B C D */
.col{
color:#1e3a8a;
}

/* final */
.final{
width:90%;
height:100px;
margin:15px;
font-size:26px;
color:#b91c1c;
background:violet;
}

/* responsive */
@media(max-width:768px){

button{
height:70px;
font-size:18px;
}

.final{
height:80px;
font-size:20px;
}

}